<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaLoop - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>
<body class="bg-light">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-vitaloop">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand d-flex align-items-center"
        href="{{ url_for('inicio') }}">

            <img src="{{ url_for('static', filename='img/logo.jpeg') }}"
                class="logo-nav">

            <div class="logo-texto">

                <span class="titulo-logo">

                    VitaLoop

                </span>

                <small>

                    Conectando personas con solidaridad

                </small>

            </div>

        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
            id="menu">

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">

                    <a class="nav-link active"
                    href="{{ url_for('inicio') }}">

                        Inicio

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="#Donaciones disponibles">

                        Donaciones

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                    href="#¿Quiénes somos?">

                        Nosotros

                    </a>

                </li>

            </ul>

            <div class="acciones-nav">

                <a href="{{ url_for('publicar') }}"
                class="btn-publicar">

                    <i class="fa-solid fa-plus"></i>

                    Publicar

                </a>

                <button class="icono">

                    <i class="fa-regular fa-heart"></i>

                </button>

                <button class="icono">

                    <i class="fa-regular fa-bell"></i>

                </button>

                <div class="dropdown">

                    <button class="perfil"
                            data-bs-toggle="dropdown">

                        {{ session["nombre"][0]|upper }}

                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>

                            <a class="dropdown-item"
                            href="{{ url_for('perfil') }}">

                                <i class="fa-solid fa-user"></i>

                                Mi perfil

                            </a>

                        </li>

                        <li>

                            <a class="dropdown-item"
                            href="{{ url_for('mis_donaciones') }}">

                                <i class="fa-solid fa-box"></i>

                                Mis donaciones

                            </a>

                        </li>

                        <li><hr></li>

                        <li>

                            <a class="dropdown-item text-danger"
                            href="{{ url_for('login') }}">

                                <i class="fa-solid fa-right-from-bracket"></i>

                                Cerrar sesión

                            </a>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</nav>

<section class="hero">


    <div class="hero-texto">

        <h1>Donaciones disponibles</h1>

        <p>
            Comparte lo que ya no usas y ayuda
            a quienes más lo necesitan.
        </p>

        <div class="hero-info">

            <div class="info-item">

                <i class="fa-solid fa-heart"></i>

                <div>

                    <strong>Ayuda a otros</strong>

                    <span>Tu donación puede cambiar vidas.</span>

                </div>

            </div>

            <div class="info-item">

                <i class="fa-solid fa-shield-heart"></i>

                <div>

                    <strong>Totalmente seguro</strong>

                    <span>Comunidad confiable.</span>

                </div>

            </div>

            <div class="info-item">

                <i class="fa-solid fa-leaf"></i>

                <div>

                    <strong>100% Gratuito</strong>

                    <span>Publica sin costo.</span>

                </div>

            </div>

        </div>

    </div>

    <div class="hero-imagen">

        <img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="VitaLoop">

    </div>

</section>

<!-- 
BUSCADOR
-->

<section class="busqueda">

    <div class="buscador">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Buscar donaciones..."
        >

    </div>

    <button class="btn-filtro">

        <i class="fa-solid fa-sliders"></i>

        Filtros

    </button>

</section>

<section class="categorias">

    <button class="activo">
        <i class="fa-solid fa-border-all"></i>
        Todas
    </button>

    <button>
        <i class="fa-solid fa-book"></i>
        Libros
    </button>

    <button>
        <i class="fa-solid fa-shirt"></i>
        Ropa
    </button>

    <button>
        <i class="fa-solid fa-puzzle-piece"></i>
        Juguetes
    </button>

    <button>
        <i class="fa-solid fa-laptop"></i>
        Tecnología
    </button>

    <button>
        <i class="fa-solid fa-utensils"></i>
        Comida
    </button>

    <button>
        <i class="fa-solid fa-house"></i>
        Hogar
    </button>

</section>


<!-- CONTENIDO -->
<div class="container mt-5">

  <section class="sobre-nosotros">

<div class="container">

<h2>¿Quiénes somos?</h2>

<div class="row">

<div class="col-md-4 mb-4">

<div class="info-card">

<h3>🎯 Misión</h3>

<p>
Conectar personas solidarias con quienes más lo necesitan,
facilitando las donaciones de forma segura, rápida  y gratuita.
</p>

</div>

</div>

<div class="col-md-4 mb-4">

<div class="info-card">

<h3>👁️ Visión</h3>

<p>
Ser la plataforma líder en donaciones, promoviendo una cultura
de solidaridad y compromiso social.
</p>

</div>

</div>

<div class="col-md-4 mb-4">

<div class="info-card">

<h3>❤️ Valores</h3>

<ul>

<li>Solidaridad</li>

<li>Empatía</li>

<li>Respeto</li>

<li>Compromiso</li>

<li>Responsabilidad</li>


</ul>

</div>

</div>

</div>

</div>

</section>

    <!-- DONACIONES -->
<h2 class="mb-4">Donaciones disponibles</h2>

<div class="row">

{% for d in donaciones %}

<div class="col-lg-4 col-md-6 mb-4">

    <div class="card donacion-card">

        <div class="imagen-container">

            {% if d[7] %}
                <img src="{{ url_for('static', filename=d[7]) }}"
                    class="card-img-top">
            {% else %}
                <img src="{{ url_for('static', filename='img/logo.jpeg') }}"
                    class="card-img-top">
            {% endif %}

            <span class="estado">
                {{ d[6] }}
            </span>

            <button class="favorito">

                <i class="fa-regular fa-heart"></i>

            </button>

        </div>

        <div class="card-body">

            <h5>{{ d[2] }}</h5>

            <p class="descripcion">

                {{ d[3] }}

            </p>

            <div class="info-donacion">

                <span>

                    <i class="fa-solid fa-tag"></i>

                    {{ d[4] }}

                </span>

            </div>

            <div class="usuario">

                <div class="avatar">

                    {{ d[2][0] }}

                </div>

                <div>

                    <strong>Donación publicada</strong>

                    <small>VitaLoop</small>

                </div>

            </div>

            <div class="acciones">

                <a href="#" class="btn btn-outline-success">

                    <i class="fa-solid fa-eye"></i>

                    Ver

                </a>

                <a href="{{ url_for('solicitar', donacion_id=d[0]) }}"
                class="btn btn-success">

                Solicitar

                </a>

            </div>

        </div>

    </div>

</div>

{% endfor %}

</div>

</div> <!-- Cierra el container -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>