<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login - VitaLoop</title>

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="login-container">

    <!-- Lado izquierdo -->
    <div class="left-side">

        <img src="{{ url_for('static', filename='img/logo.jpeg') }}" alt="VitaLoop">

        <div class="overlay">
            <h1>Comparte.</h1>
            <h1>Reutiliza.</h1>
            <h1>Ayuda.</h1>

            <p>
                Dona aquello que ya no utilizas y ayuda
                a construir un mundo mejor.
            </p>
        </div>

    </div>

    <!-- Lado derecho -->

    <div class="right-side">

        <h1>Welcome to <span>VitaLoop</span></h1>

        <p>Inicia sesión para continuar</p>

        <form action="/login" method="POST">

            <label>Correo electrónico</label>

            <input
            type="email"
            name="correo"
            placeholder="Ingresa tu correo"
            required>

            <label>Contraseña</label>

            <div class="password">

                <input
                type="password"
                name="password"
                placeholder="Ingresa tu contraseña"
                required>

                <i class="fa-solid fa-eye"></i>

            </div>

            <button class="login-btn">

                Iniciar Sesión

            </button>

        </form>

        <div class="separator">

            <span>o</span>

        </div>

        <button class="google-btn">

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg">

            Continuar con Google

        </button>

        <p class="register">

            ¿No tienes cuenta?

            <a href="/registro">Regístrate</a>

        </p>

    </div>

</div>

</body>
</html>